build/
.vs/
out/
CMakeUserPresets.json
*.user
*.suo
*.obj
*.pdb
*.exp
*.lib
*.dll
*.ilk
*.log
package/SKSE/Plugins/*.dll
package/SKSE/Plugins/*.pdb
package/SKSE/Plugins/*.lib
package/SKSE/Plugins/*.exp
deps/directstorage/
deps/_nuget/
dist/
__pycache__/
*.pyc
*.pyo
